Checks:
  bugprone*,
  clang-analyzer*,
  google*,
  misc*,
  modernize*,
  -abseil*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-diagnostic-sign-conversion,
  -clang-diagnostic-unused-parameter,
  -cppcoreguidelines*,
  -cppcoreguidelines-pro*,
  -google-readability*,
  -google-runtime-int,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-non-copyable-objects,
  -misc-unused-parameters,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  -modernize-avoid-c-arrays,
  -modernize-macro-to-enum,
  -modernize-redundant-void-arg,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -modernize-use-noexcept,
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -performance*,
  -readability*,
