Package: amd_smi_lib
Architecture: any
Maintainer: Advanced Micro Devices Inc.
Priority: optional
Version: MODULE_VERSION
Depends:
Homepage: https://github.com/RadeonOpenCompute/amdsmi
Description: AMD System Management Interface Library for ROCm

